p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* components */



.size-50-FFFFFF-up{font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.size-50-789FB0-up{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #789FB0;
}

.size-50-FFFF-up{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.size-25-789FB0{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #789FB0;
}


.size-20-000000-bolt{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
}

.size-16-789FB0{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #789FB0;
}

.size-16-000000{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}

.size-16-FFFFFF{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.size-16-000000-bolt{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}

.size-16-FFFFFF-underline{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-decoration: 1px underline;
  text-underline-offset: 0.8em;
  color: #FFFFFF;
}
.size-16-D2A13E-up{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #D2A13E;
}

.size-16-077D3A-up{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #077D3A;
}

.size-16-B34843-up{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #B34843;
}

.button-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  background: rgba(120, 159, 176, 0.4);
  border: 5px solid #789FB0;
  box-sizing: border-box;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-2{
  box-sizing: border-box;

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 75px;
  
  position: relative;

  
  background: rgba(120, 159, 176, 0.4);
  border: 5px solid #789FB0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 12px;

  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  color: #FFFFFF;



  flex: none;
  order: 0;
  flex-grow: 0;
}


.button-3{
  flex-direction: row;
  justify-content: center;
  padding: 11px 30px 10px;
  position: relative;
  height: 33px;
  border: 1px solid #789FB0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #789FB0;
  background-color: transparent;
}
.button-4{
  flex-direction: row;
  justify-content: center;
  padding: 11px 30px 10px;
  position: relative;
  height: 33px;
  border: 1px solid #789FB0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
}
.button-5{
  flex-direction: row;
  justify-content: center;
  padding: 11px 30px 10px;
  position: relative;
  height: 33px;
  border: 1px solid #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
}


.instagram-icon {
  width: 20px;
  height: 20px;
}

.instagram-icon svg {
  width: 100%;
  height: 100%;
  fill: #FFFFFF; 
}
.linkedin-icon {
  width: 20px;
  height: 20px;
}

.linkedin-icon svg {
  width: 100%;
  height: 100%;
  fill:#FFFFFF;
}
.facebook-icon {
  width: 20px;
  height: 20px;
}

.facebook-icon svg {
  width: 100%;
  height: 100%;
  fill:#FFFFFF;
}

.block-input {
  width: auto;
}

.block-input input {
  width: 90vw;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #789FB0;
  outline: none;
  background-color: transparent;
  color: #000000;
  padding-bottom: 15px;
}
.block-input input::placeholder {
  color: #000;
}


.cont-check{
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.cont-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border-radius: 2PX;
}

.cont-check:hover input ~ .checkmark {
  background-color: #ccc;
}

.cont-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont-check input:checked ~ .checkmark:after {
  display: block;
}

.cont-check .checkmark:after {
  left: 4px;
  top:1.5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}







/* blocks */









.kontaktni-formular{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
}
.kontaktni-formular .podminky{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 4px;
  gap: 13px;
  
  
  
  
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.kontaktni-formular .block-input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px 12px 10px;
  box-sizing: border-box;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.kontaktni-formular .button-4{
  box-sizing: border-box;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;


  border: 1px solid #789FB0;


  flex: none;
  order: 4;
  flex-grow: 0;
}




.block-pricing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  
  position: relative;

}



.block-pricing .block-pricing-1{
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  justify-content: center;



  background: rgba(120, 159, 176, 0.2);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);


  flex: none;
  order: 0;
  flex-grow: 0;
}

.block-pricing .block-pricing-1 .stars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  color: #789FB0;
  

  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-1 .nazev-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #789FB0;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-1 .popis-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  color: #789FB0;
  
  
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.block-pricing .block-pricing-1 .cena-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  
  color: #789FB0;
  
  
  
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block-pricing .block-pricing-1 .button-3{
  box-sizing: border-box;

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px 10px;
  
  
  
  border: 1px solid #789FB0;
  
  
  flex: none;
  order: 4;
  flex-grow: 0;
}

.block-pricing .block-pricing-3{
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  justify-content: center;



  background: rgba(120, 159, 176, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  flex: none;
  order: 0;
  flex-grow: 0;
}
  
.block-pricing .block-pricing-3 .stars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  color: #FFFFFF;
  

  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .nazev-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #fff;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .popis-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  color: #fff;
  
  
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
  
.block-pricing .block-pricing-3 .cena-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  
  color: #fff;
  
  
  
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .button-5{
  box-sizing: border-box;

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px 10px;
  
  
  
  border: 1px solid #fff;
  
  
  flex: none;
  order: 4;
  flex-grow: 0;
}
  
  
.block-pricing .block-pricing-3{
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;



  background: rgba(120, 159, 176, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);


  flex: none;
  order: 0;
  flex-grow: 0;
}
  
.block-pricing .block-pricing-3 .stars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
    color: #FFFFFF;
  

  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .nazev-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #fff;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .popis-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  color: #fff;
  
  
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
  
.block-pricing .block-pricing-3 .cena-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  
  color: #fff;
  
  
  
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block-pricing .block-pricing-3 .button-5{
  box-sizing: border-box;

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px 10px;
  
  
  
  border: 1px solid #fff;
  
  
  flex: none;
  order: 4;
  flex-grow: 0;
}









.block-pricing .block-pricing-2{
  width: 25vw;
  height:45vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px 40px 40px;
  gap: 50px;
  justify-content: center;



  background: rgba(120, 159, 176, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);


  flex: none;
  order: 0;
  flex-grow: 0;
}

.block-pricing .block-pricing-2 .stars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
    color: #FFFFFF;
  

  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-2 .nazev-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #fff;
  
  
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-pricing .block-pricing-2 .popis-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  
  color: #fff;
  
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.block-pricing .block-pricing-2 .cena-balicku{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  
  color: #fff;
  
  
  
  flex: none;
  order: 3;
  flex-grow: 0;
}
.block-pricing .block-pricing-2 .button-5{
  box-sizing: border-box;      
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px 10px;
  border: 1px solid #fff;
  flex: none;
  order: 4;
  flex-grow: 0;
}




.block-zajimavost-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 100px;
  align-items: center;
  text-align: center;
}
.vector-border{
  width: 56px;
  height: 56px;

  background: #789FB0;


  flex: none;
  order: 0;
  flex-grow: 0;
}

.block-zajimavost-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: relative;
  width: 100px;
  align-items: start;
  text-align: start;
}
.block-zajimavost-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: relative;
  width: 100px;
  align-items: start;
  text-align: start;
}



.block-more-info-img{
  box-sizing: border-box;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: relative;
  width: 27vw;

  border: 1px solid #789FB0;
  
}

.block-more-info-img .obsah{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px 40px;
  gap: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}


.block-more-info-img img{
  width: 27vw;
}



.block-more-info{
  box-sizing: border-box;

  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
  
  position: relative;
  width: 400px;
  
  border: 1px solid #789FB0;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}



.block-kontakt-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: relative;
  width: 200px;
}



.tabulka-1 table{
  border-collapse: collapse;
}
.tabulka-1 table td{
  border-bottom: 1px solid #789FB0;;
  padding: 10px;
}


.tabulka-2 table{
  border-collapse: collapse;
}
.tabulka-2 table td{
  border-bottom: 1px solid #789FB0;;
  padding: 10px;
}

.tabulka-3 table{
  border-collapse: collapse;
  width: max-content;
  
}
.tabulka-3 table td{
  border-bottom: 1px solid #789FB0;;
  padding: 10px;
  padding-left: 3vw;
  padding-right:3vw;
}


.block-otazky{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;

  position: relative;
  width: 85vw;

  border-bottom: 1px solid #789FB0;
}

.block-otazky button{
  position: absolute;
  width: 35px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #789FB0;
  border-radius:20px;
  left: 97%;
}

.block-otazky button:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: #789FB0;
  top: 50%;
  left: 50%;
}

.block-otazky button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #789FB0;
  height: 50%;
  width: 2px;
}

.block-otazky button:hover:before,
.block-otazky button:hover:after {
  background: #fff;
  transition: 0.2s;
}

.block-otazky button:hover {
  background-color: #789FB0;
  transition: 0.2s;
}

.block-otazky .odpoved{
  padding-bottom: 15px;
  padding-top:15px;
  display: none;
}










/* section */









.section-vyhodne-apartmany{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #F3F3F3;
}

.section-vyhodne-apartmany .content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  justify-content: center;
}





.section-vyhody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #F3F3F3;
}

.section-vyhody .text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 150px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  align-items: center;
  text-align: center;
}
.section-vyhody .vyhody{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}






.section-content-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #FFFFFF;
}

.section-content-1 .leva{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 0;
  flex-grow: 1;
  width: 50vw;
}

.section-content-1 .prava{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.section-content-1 .row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}





.section-content-2{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 75px;
gap: 75px;
position: relative;
background: #FFFFFF;
}
.section-content-2 .leva{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 40vw;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.section-content-2 .leva .row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.section-content-2 .leva .buttot-4{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 30px 10px;
  border: 1px solid #789FB0;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.section-content-2 .prava{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  justify-content: center;
}
.section-content-2 img{

  width: 40vw;
  flex: none;
  order: 0;
  align-self: stretch;
  height: auto;
}





.section-content-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 75px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 40px;

  background: #FFFFFF;
}
.section-content-3 .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 150px;
  align-items: center;
  text-align: center;
}
.section-content-3 .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}








.section-content-4{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #FFFFFF;
}
.section-content-4 img{
  width: 30vw;
  height: auto;  
}
.section-content-4 .prava{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 55vw;
  flex: none;
  order: 1;
  flex-grow: 0;
}


.section-content-5{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #FFFFFF;
}
.section-content-5 .galerie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 2;
  flex-grow: 1;
}

.section-content-5 .galerie img{
  width: 40vw;
  height: auto;
}
.section-content-5 .text{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 150px;
}


.section-content-6{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 75px;
  gap: 40px;
  background: #F3F3F3;
}
.section-content-6 .leva{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 47vw;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.section-content-6 .text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 75px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.section-content-6 .buttony{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.section-content-6 .prava{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-content-6 .prava img{
  width: 38vw;
  height: auto;
}









.section-cta-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  gap: 40px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luxury-interier-2.jpeg);
}
.section-cta-1 .text{
  padding: 0px 8vw;
}



.section-cta-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  gap: 40px;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/luxury-interier-2.jpeg);
}





.section-tabulka{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #F3F3F3;
}


.section-pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #F3F3F3;
  align-content: center;

}




.section-faq{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 75px;
  gap: 40px;
  position: relative;
  background: #FFFFFF;
}

.section-kontakni-formular{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  gap: 40px;
  background: #F3F3F3;
}











.section-footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
}
.section-footer .footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 75px;
  gap: 75px;
  background: #F3F3F3;
  align-self: stretch;
}
.section-footer .footer .footer-logo{
  gap: 10px;
  display: flex;  
  flex-direction: column;
}
.section-footer .footer .footer-logo .logo{
  display: flex;
  justify-content: center;

}
.section-footer .footer .footer-logo .nazev {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  letter-spacing: 1px;
  color: #789FB0;
}
.section-footer .footer .footer-logo .nazev p:nth-child(1) {
  font-weight: 800;
}

.section-footer .footer .footer-logo .nazev p:nth-child(2) {
  font-weight: 100;
}

.section-footer .footer .footer-lokalita{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.section-footer .footer .footer-kontakt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.section-footer .footer .footer-socialni-site{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.section-footer .footer .footer-socialni-site .content{
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  gap:5px;
}
.section-footer .footer .footer-socialni-site .content .instagram-icon svg{
  fill:#000000 !important;
}
.section-footer .footer .footer-socialni-site .content .facebook-icon svg{
  fill:#000000 !important;
}






.section-footer .footer-copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 75px;
  background: #789FB0;
  align-self: stretch;
  flex-grow: 0;
}






.section-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  background: #789FB0;
}


.section-header .header-navbars{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px 40px 75px;
  gap: 25px;
  width: 30vw;
}


.section-header .header-logo{
  display: flex;  
  width: 30vw;
  flex-direction: column;
  gap: 5px;
}
.section-header .header-logo .logo{
  display: flex;
  justify-content: center;
  color: #ffff;
}
.section-header .header-logo .nazev {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  letter-spacing: 1px;
  color: #ffff;
  justify-content: center
}
.section-header .header-logo .nazev p:nth-child(1) {
  font-weight: 800;
}
.section-header .header-logo .nazev p:nth-child(2) {
  font-weight: 100;
}


.section-header .header-kontakt{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 75px 40px 0px;
  gap: 25px;
  width: 30vw;
}